:root{
  --primary: #F22738;
  --secondary: #A63247;
  --tertiary: #3E3740;
  --quaternary: #F2DDD0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: var(--tertiary);
  border-left: 1px solid var(--primary);
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

textarea:active, textarea:focus, textarea:focus-visible{
  outline: none;
  /* border: solid 2px red;*/
} 

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  /* white-space: pre-wrap; */
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: var(--quaternary);
  color: var(--primary);
  border-top: 1px dashed var(--primary);
  font-size: 20px;
}

.past {
  background-color: var(--primary);
  color: var(--tertiary);
}

.present {
  background-color: var(--secondary);
  color: var(--primary);
}

.future {
  background-color: var(--tertiary);
  color: var(--secondary);
}

.saveBtn {
  border-left: 1px solid var(--primary);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--quaternary);
  color: var(--primary);
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
